name: Test

on:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
      - uses: actions/checkout@v6

      - uses: oxidize-rb/actions/setup-ruby-and-rust@main
        with:
          ruby-version: 3.3
          rubygems: latest
          bundler-cache: true
          cargo-cache: true
          cache-version: v1

      - name: Compile what_you_say
        run: bundle exec rake compile

      - name: Run Ruby tests
        run: bundle exec rake test
